
.contact-list {
  justify-content: center;
  display: flex;
  position: absolute;
  list-style: none;
} 

.contact-list ul{
  display: flex;
  overflow: hidden;
  padding: 0;
}

.contact-list li {
  padding: 20px;
  display: flex;
  position: relative;
  padding-top: 40%;
}

.contact-list li span {
  color:  rgb(236, 236, 236);
  font-size: 2rem;
  padding-right: 1rem;
  transition: 0.3s;
}

.contact-list p {
  margin: 0; 
  color:  rgb(236, 236, 236);
  font-size: 1.5rem;
  font-weight: 500;
}

.contact-list a {
  display: flex;
  text-decoration: none;
}

.contact-list span:hover{
  color: #eb008d;
  transition: 0.3s;
}

.contact-list a::after {
  content: "";
  height: 3px;
  width: 0%;
  position: absolute;
  display: block;
  background-color: #eb008d;
  transition: 0.3s;
  bottom: 16px;
  left: 18px; 
}

.contact-list a:hover::after{
  width:85%;
}

@media (max-width: 768px) {
  .contact-list li span{
    font-size: 2rem;
    flex-flow: column nowrap;
    display: flex;
  }
  .contact-list p  {
    padding: 10px;
    font-size: 14px;
  }
  .contact-list ul{
    display: flex;
    flex-flow: column nowrap;
  }
  .contact-list li {
    padding: 12px;
    display: flex;
  }
  .contact-list{
    padding-top: 16rem;
  }
  .contact-list a::after {
    bottom: 8px;
    left: 12px; 
  }
}