.about-btn-main {
  width: 200px;
  height: 50px;
  font-weight: 300;
  outline: none;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
	box-shadow: 0 4px 8px 0 rgba(240, 80, 225, 10);
  color: #fff;
  cursor: pointer;
  background: rgb(241,66,159);
  background: linear-gradient(45deg, rgba(204, 23, 129, 0.862) 20%, rgba(7, 62, 82, 0.783) 100%);
}
.about-btn-main:hover {
  background: rgb(241,66,159);
  background: linear-gradient(45deg, rgba(170, 31, 105, 0.862) 20%, rgba(20, 115, 150, 0.4) 100%);

}
