.home {
  height: 110vh;
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  min-height:  calc(100vh - 6.5rem);
}

.home .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.home .about-content .left img {
  height: 580px;
  width: 520px;
  object-fit: cover;
  border-radius: 2px;
  border-radius: 60%  40% 60% 60% / 40% 30% 70% 60% ;
}
.right-content {
  padding: 3rem;
} 


.right-content h1 {
  font-size: 54px;
  color: #fff;
}

.right-content h2 {
  color: #fff;
  font-size: 28px;
}

.right-content h3 {
  font-size: 28px;
  font-weight: 500;
}

@media (max-width: 1140px) {
  .left-content img {
    height: 480px;
    width: 440px;
  }
}

@media (max-width: 1300px) {
  .home .about-content .left img {
    height: 400px;
    width: 350px;   
  }
  .right-content h1 {
    font-size: 42px;
    color: #fff;
  }
  
  .right-content h2 {
    color: #fff;
    font-size: 32px;
  }
  
  .right-content h3 {
    font-size: 24px;
    font-weight: 500;

  }
}

@media (max-width: 768px) {
  .home .about-content .left img {
    padding-top: 4rem;
    height: 320px;
    width: 300px;
    border-radius: 60%  40% 60% 60% / 40% 30% 70% 60% ;
  }
  .right-content {
    padding: 0;
  } 

  .right-content h1 {
    font-size: 30px;
    color: #fff;
  }
  
  .right-content h2 {
    color: #fff;
    font-size: 18px;
  }
  
  .right-content h3 {
    font-size: 14px;
    font-weight: 500;

  }
}




