.home {
  height: 80vh;
}

.content {
  padding: 6rem;
}

.content h1 {
  font-size: 64px;
  color: #fff;
}

.content h2 {
  color: #fff;
  font-size: 42px;
}

.content h3 {
  font-size: 20px;
  font-weight: 300;
}

.icon-row  {
  display: flex;
  position: relative;
}

.icon-row li {
  display: flex;
  font-size: 40px;
  list-style: none;
  color: #fff;
}

@media (max-width: 768px) {
  .content {
    padding:3em;
  }

  .content h1 {
    font-size: 24px;
    color: #fff;
  }

  .content h2 {
    color: #fff;
    font-size: 18px;
  }
  .content h3 {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 12px;
  }
}





