.contenet h2 {
  color: #fff;
  padding-bottom: 3rem;
}
.contenet{
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  height: 80%;
  font-size: 28px;
  width: 100%;
  background-image: url(../Assets/background.png);
  background-size: cover;
  background-position: bottom;
}
span {
  color: #FF019A;
}